* {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
.pageHeader {
    margin: 0;
    padding: 0;
    overflow: hidden;   
}
.sidebar {
    margin-top: 20%;
}
.menuBar{
    display: flex;
    text-align: left;
}
.logoName {
    cursor: pointer;
    color:#E50914;  
    margin-left: 20px;
    float:left;
}

.menuBar {
    display: flex; 
    margin-top: 28px;
    float:left;
}
h3 {
    padding: 8px;
}

.linkStyle {
    color:white;
    text-decoration: none;
}
.linkStyle:hover {
    color: gray
}
.profileIcon {
    margin-top: 2%;
}
.logoProfile {
    float: right;
    border-radius: 10%;
    height: 4em;
    padding: 0.5em;
    margin-right: 40px;
    background-color: #fddadf;
}
.myselfContainer {
     width:100%;
     height:100%;
     background-image:linear-gradient(#221F1F, #2f2c2c,#393535,#221F1F);
     display: flex;
}
.hiContainer {
    margin-top: 14%;
    margin-left: 3%;
}
.hiContainer Button {
    background-color:white;
    color:black;
    font-weight: bold;
}
.hiContainer Button:hover {
    color:black;
}
.hiContainer h1 {
    color:white;
}
.myselfLogo {
    margin-left: 40%;
    width:30%;
    height:20%;
}
.experienceContainer {
    float: left;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 30px;
}
.experienceContainer::-webkit-scrollbar {
  display: none;
}

.project{
    position: relative;
    display: flex;
    gap: 3px;
}
.arrow {
    float: left;
    display: flex;
    position: relative;
}
footer p {
  color: #ccc;
}
.card {
  background: #fff;
  border-radius: 5px;
  padding: 3px;
  width: 30%;
  margin: 3px;
}
.card:hover {
    box-shadow: 0 2px 5px #f1efef;
}
.card h1 {
  font-size: 1.2em;
  margin-block: 2px;
  color: #221F1F;
}
.card p {
    color: #221F1F;
}

.title {
    float:left;
    margin-left: 3%;
}