#root {
  margin: 0 auto;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo.react {
  background-color: rgb(194, 255, 194);
  border-radius: 5%;
}
.logo.react:hover {
  outline: white 3px solid;
}
.profileName {
  color:aliceblue
}
